* {
    margin: 0px;
    font-size: 20px;
}

div {
    height: 50px;
    background: red;
}

.container1 {
    width: 50%;
    font-size: 1.2em;
}

.container2 {
    width: 50vw;
    height: 50vh;
    font-size: 0.3rem;
}

.main {
    background: green;
    height: 200px;
    width: 200px;
}
