* {
    margin: 0px;
}

div {
    height: 50px;
    background: red;
}

.container1 {
    width: 50%;
}

.container2 {
    width: 50vw;
    height: 50vh;
}

.main {
    background: green;
    padding: 10px;
    height: 200px;
    width: 200px;
}