.container-1 {
    background: yellow;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.container-1 > .item-1, .container-1 > .item-2, .container-1 > .item-3 {
    height: 30px;
    width: 30px;
    border: solid;
    margin: 20px;
}

.container-2 {
    background: cyan;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
}

.item-container-1 {
    margin-top: 20px;
    margin-left: 20px;
}

.item-container-2 {
    background: orangered;
    width: 100px;
    height: 100px;
    right: 0px;
    bottom: 0px;
    position: absolute;
}

.container-3 {
    height: 50px;
    width: 50px;
    background: magenta;
    position: absolute;
    right: 0px;
    bottom: 0px;
}